{{#if isServiceProvider}}
  {{#link-to 'services.new' tagName="li"}}<a href>Add new service</a>{{/link-to}}
  <h1>All your services:</h1>
  <h2>Total number of your services: {{filterViaUser.length}}</h2>
  <table>
    <tr>
      <th class="col-xs-1">Picture</th>
      <th class="col-xs-1">Service Name</th>
      <th class="col-xs-1">Description</th>
      <th class="col-xs-1">Date</th>
      <th class="col-xs-1">From</th>
      <th class="col-xs-1">To</th>
      <th class="col-xs-1" {{action "setSort"}}>Price</th>
    </tr>
    {{#each sortedList as |service|}}
      <tr>
        <td  class="col-xs-1"><img src="{{service.image}}" class="img-responsive" alt="Smiley face"></td>
        <td class="col-xs-1">{{service.name}}</td>
        <td class="col-xs-1">{{service.description}}</td>
        <td class="col-xs-1">{{format-date service.startAt format="ll"}}</td>
        <td class="col-xs-1">{{format-date service.startAt format="LT"}}</td>
        <td class="col-xs-1">{{format-date service.finishAt format="LT"}}</td>
        <td class="col-xs-1">{{service.price}}$</td>
      </tr>
    {{/each}}
  </table>
{{/if}}
{{#if isConsumer}}
  <h1>All our services:</h1>
  <h3>You can filter services here</h3>
  <div class="form-group">
    <div class="col-xs-12" >
      <label class="col-sm-2 col-xs-4 control-label">From date</label>
      {{pick-a-date date=(readonly date1) on-selected=(action (mut date1)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
    </div>
    <div class="col-xs-12" >
      <label class="col-sm-2 col-xs-4 control-label">To date</label>
      {{pick-a-date date=(readonly date2) on-selected=(action (mut date2)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}} 
    </div>
    <button type="submit" class="btn btn-primary" {{action "filter"}}>Filter</button>
    <button type="submit" class="btn btn-default" {{action "clear"}}>Clear</button>
  </div>
  <table>
    <tr>
      <th class="col-xs-1">Picture</th>
      <th class="col-xs-1">Service Name</th>
      <th class="col-xs-1">Description</th>
      <th class="col-xs-1">Date</th>
      <th class="col-xs-1">From</th>
      <th class="col-xs-1">To</th>
      <th class="col-xs-1" {{action "setSort"}}>Price</th>
      <th class="col-xs-1"></th>
    </tr>
    {{#each sortedList as |service|}}
      {{#unless service.booked}}
        <tr>
          <td  class="col-xs-1"><img src="{{service.image}}" class="img-responsive" alt="Smiley face"></td>
          <td class="col-xs-1">{{service.name}}</td>
          <td class="col-xs-1">{{service.description}}</td>
          <td class="col-xs-1">{{format-date service.startAt format="ll"}}</td>
          <td class="col-xs-1">{{format-date service.startAt format="LT"}}</td>
          <td class="col-xs-1">{{format-date service.finishAt format="LT"}}</td>
          <td class="col-xs-1">{{service.price}}$</td>
          <td class="col-xs-1">{{#link-to 'services.show' service.id class='btn btn-success'}}Read more{{/link-to}}</td>
        </tr>
      {{/unless}}
    {{/each}}
  </table>
{{/if}}
