<h1>Add a New Service</h1>
{{#link-to 'services.index' tagName="li"}}<a href>Return to my Services</a>{{/link-to}}

<div class="form-horizontal">
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-3">
            {{input type="text" value=model.newService.name class="form-control" placeholder="The name of the Service"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-3">
            {{input type="text" value=model.newService.description class="form-control" placeholder="The description of the Service"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Price</label>
        <div class="col-sm-3">
            {{input type="number" value=model.newService.price class="form-control" placeholder="The price number of the Service"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Image</label>
        <div class="col-sm-3">
            {{input type="text" value=model.newService.image class="form-control" placeholder="The image url of the Service"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Date</label>
        <div class="col-sm-4" >
            {{pick-a-date date=(readonly model.newService.date1) on-selected=(action (mut model.newService.date1)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">From</label>
        <div  class="col-sm-3">
            {{pick-a-time date=model.newService.startAt1 on-selected=(action (mut model.newService.startAt1)) placeholder="Pick a time" options=(readonly extraPickadateOptions)}}
        </div>
    </div>
     <div class="form-group">
        <label class="col-sm-2 control-label">To</label>
        <div  class="col-sm-3">
            {{pick-a-time date=model.newService.finishAt1 on-selected=(action (mut model.newService.finishAt1)) placeholder="Pick a time" options=(readonly extraPickadateOptions)}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success "   {{action 'saveService' model.newService}}>Add to Service list</button>
            <button type="submit" class="btn btn-default" {{action "cancel" model.newService}}>Cancel</button>
        </div>
    </div>
</div>
