{{notification-container notifications=notifications position="top"}}
{{model.bookings.length}}
{{isAlreadySent.length}}
{{confirmedBookings.length}}
{{bookedForThisTime.length}}
{{#link-to 'services.index' tagName="li"}}<a href>Back to all services</a>{{/link-to}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{model.service.name}}</h3>
  </div>
  <div class="panel-body">
    <table>
      <tr>
        <td><img src="{{model.service.image}}" alt="Smiley face" height="300" width="300"></td>
        <td>
            <tr>
                <td>Date:</td>
                <td>{{format-date model.service.startAt format="ll"}}</td>
            </tr>
            <tr>
                <td>From:</td>
                <td>{{format-date model.service.startAt format="LT"}}</td>
            </tr>
            <tr>
                <td>To:</td>
                <td>{{format-date model.service.finishAt format="LT"}}</td>
            </tr>
            <tr>
                <td>Price:</td>
                <td>{{model.service.price}}</td>
            </tr>
            <tr>
                <td>Description:</td>
                <td>{{model.service.description}}</td>
            </tr>
        </td>
      </tr>
  </table>
</div>
{{#if model.service.booked}}
  <h3>This service is already booked. Sorry :(</h3>
  {{else}}
    {{#if isAlreadySent}}
    <h4>We have recieved your booking request</h4>
    <h4>You can see status of request {{link-to 'here' 'bookings'}}</h4>
    {{else}}
      {{#if bookedForThisTime}}
        <h4>You have already booked for this time another service:</h4>
        {{#each bookedForThisTime as |booking|}}
          <p>{{booking.bookedService.name}}</p>
        {{/each}}
      {{else}}    
    <div class="panel-body">
        <h4>You can add a message to provider if you have questions</h4>
        <div class="col-sm-4">
          {{textarea rows="6" value=model.newMessage class="form-control" placeholder="Type a message here..."}}
        </div>
        <div class="col-sm-4">
          <button type="submit" class="btn btn-success "   {{action 'SaveRequest' model}}>Request a booking</button>
        </div>
      </div>
      {{/if}}
    {{/if}}
  {{/if}}
</div>

{{outlet}}