Logged in as {{currentUser.id}}
{{currentUser.content.role}}
{{notification-container notifications=notifications position="top"}}
 <h2>Total number of bookings this service: {{model.bookings.length}}</h2>
 <h2>Total number of your bookings this service: {{isAlreadySent.length}}</h2>

{{#link-to 'services.index' tagName="li"}}<a href>Back to all services</a>{{/link-to}}
<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{{model.name}}</h3>
  </div>
  <div class="panel-body">
    <p>Description: {{model.description}}</p>
    <p>Price: {{model.price}}</p>
    <img src="{{model.image}}" alt="Smiley face" height="473" width="356">
  </div>
  {{#if model.booked}}
    <h3>This service is already booked. Sorry :(</h3>
    {{else}}
        {{#if isAlreadySent}}
        <h3>You have already sent request :)</h3>
        {{else}}
        <div class="form-gorup">
            <button type="submit" class="btn btn-success "   {{action 'SaveRequest' model}}>Request a booking</button>
            <button type="submit" class="btn btn-default" {{action "cancel" model}}>Cancel</button>
        </div>
        {{/if}}
    {{/if}}
 {{!--  <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            {{input type="text" value=model.currentService.name class="form-control" placeholder="The name of the Service"}}
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
            {{input type="text" value=model.currentService.phone class="form-control" placeholder="The description of the Service"}}
        </div>
    </div>
    <div class="form-gorup">
        <label class="col-sm-2 control-label">Day</label>
        <div class="col-sm-10">
        {{pick-a-date date=(readonly date) on-selected=(action (mut date)) placeholder="Pick a date" options=(readonly extraPickadateOptions)}}
        </div>
    </div>
    <div class="form-gorup">
        <label class="col-sm-2 control-label">Time</label>
        <div class="col-sm-10">
        {{pick-a-time date=(readonly date1) value=model.currentService.workFrom placeholder="From" options=(readonly extraPickadateOptions)}}
        </div>
        <button type="submit" class="btn btn-success "   {{action 'saveService' model.currentService}}>Request a booking</button>
        <button type="submit" class="btn btn-default" {{action "cancel" model.currentService}}>Cancel</button>
    </div> --}}
</div>

{{outlet}}