<div class="panel panel-default">
  <div class="panel-heading">
      <h3 class="panel-title">{{model.name}}</h3>
  </div>
  <div class="panel-body">
    <p>Description: {{model.description}}</p>
    <p>Price: {{model.price}}</p>
		<img src="{{model.image}}" alt="Smiley face" height="473" width="356">
  </div>
</div>

{{outlet}}