{{#if isServiceProvider}}
	<table>
		<tr>
			<th>Conversation with</th>
			<th>Sent from</th>
			<th>Message</th>
			<th>Time sent</th>
		</tr>
		{{#each model as |conversation|}}
			{{#link-to 'messages.show' conversation.id tagName="tr"}}
				<th>{{conversation.customer_name}}</th>
				<th>{{conversation.last_message_name}}</th>
			 	<th>{{conversation.last_message}}</th>
			 	<th>{{conversation.last_update}}</th>		
			{{/link-to}} 	
		{{/each}}
	</table>
{{/if}}
{{#if isConsumer}}
<table>
		<tr>
			<th>Conversation with</th>
			<th>Sent from</th>
			<th>Message</th>
			<th>Time sent</th>
		</tr>
		{{#each model as |conversation|}}
			{{#link-to 'messages.show' conversation.id tagName="tr"}}
				<th>{{conversation.provider_name}}</th>
				<th>{{conversation.last_message_name}}</th>
			 	<th>{{conversation.last_message}}</th>
			 	<th>{{conversation.last_update}}</th>		
			{{/link-to}} 	
		{{/each}}
	</table>
{{/if}}
