{{#if isServiceProvider}}
    {{#link-to 'services.index' tagName="li"}}<a href>Back to List of services</a>{{/link-to}}
    <h2>Pending requests: {{pending.length}}</h2>
    {{#each pending as |service|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.name}}</h3>
            </div>
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.whoBooked.id}}</h3>
            </div>
            <div class="form-gorup">
                <button type="submit" class="btn btn-success "   {{action 'accept' service}}>Accept a booking</button>
                <button type="submit" class="btn btn-danger" {{action 'reject' service}}>Reject</button>
            </div>
        </div>
    {{/each}}
    <h2>Accepted requests: {{accepted.length}}</h2>
    {{#each accepted as |service|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.name}}</h3>
            </div>
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.whoBooked.id}}</h3>
            </div>
        </div>
        <div class="form-gorup">
               {{!--  <button type="submit" class="btn btn-success "   {{action 'accept' service}}>Accept a booking</button> --}}
                <button type="submit" class="btn btn-danger" {{action 'reject' service}}>Reject</button>
            </div>
    {{/each}}
{{/if}}

{{#if isConsumer}}
    <h2>Pending requests: {{pending.length}}</h2>
    {{#each pending as |service|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.name}}</h3>
            </div>
        </div>
    {{/each}}
    <h2>Accepted requests: {{accepted.length}}</h2>
    {{#each accepted as |service|}}
        <div class="panel panel-default">
            <div class="panel-heading">
                    <h3 class="panel-title">{{service.name}}</h3>
            </div>
        </div>
    {{/each}}
{{/if}}
