{{#if isServiceProvider}}
  <h2>Pending requests: {{pending.length}}</h2>
  <table>
    <tr>
      <th>Service Name</th>
      <th>Name</th>
      <th>Accept</th>
      <th>Reject</th>
    </tr>
    {{#each pending as |booking|}}
      <tr>
        <td>{{booking.bookedService.name}}</td>
        <td>{{booking.whoBooked.name}}</td>
        <td><button type="submit" class="btn btn-success "   {{action 'accept' booking}}>Accept booking</button></td>
        <td><button type="submit" class="btn btn-danger" {{action 'reject' booking}}>Reject</button></td>
      </tr>
    {{/each}}
  </table>

  <h2>Accepted requests: {{accepted.length}}</h2>
  <table>
    <tr>  
      <th>Service Name</th>
      <th>Name</th>
      <th>Day</th>
      <th>Time</th>
      <th>Reject</th>
    </tr>
    {{#each accepted as |booking|}}
    <tr>
      <td>{{booking.bookedService.name}}</td>
      <td>{{booking.whoBooked.name}}</td>
      <td>{{format-date booking.startAt format="ll"}}</td>
      <td>{{format-date booking.startAt format="LT"}}</td>
       <td><button type="submit" class="btn btn-sm btn-danger" {{action 'reject' booking}}>I changed my mind</button></td>
    </tr>
    {{/each}}
  </table>
{{/if}}

{{#if isConsumer}}
  <h2>Pending requests: {{pending.length}}</h2>
  <table>
    <tr>
      <th>Service Name</th>
      <th>Day</th>
      <th>Time</th>
    </tr>
    {{#each pending as |booking|}}
    <tr>
      <td>{{booking.bookedService.name}}</td>
      <td>{{format-date booking.startAt format="ll"}}</td>
      <td>{{format-date booking.startAt format="LT"}}</td>
    </tr>
    {{/each}}
  </table>
  <h2>Accepted requests: {{accepted.length}}</h2>
  <table>
    <tr>
      <th>Service Name</th>
      <th>Day</th>
      <th>Time</th>
    </tr>
    {{#each accepted as |booking|}}
    <tr>
      <td>{{booking.bookedService.name}}</td>
      <td>{{format-date booking.startAt format="ll"}}</td>
      <td>{{format-date booking.startAt format="LT"}}</td>
    </tr>
    {{/each}}
  </table>
{{/if}}
