{{#if isServiceProvider}}
<table>
  <tr>
    <th>Service Name</th>
    <th>Name</th>
    <th>Day</th>
    <th>Time</th>
    <th>Phone</th>
  </tr>
	{{#each accepted as |booking|}}
    <tr>
      <td>{{booking.bookedService.name}}</td>
      <td>{{booking.whoBooked.name}}</td>
      <td>{{format-date booking.startAt format="ll"}}</td>
      <td>{{format-date booking.startAt format="LT"}}</td>
      <td>{{booking.whoBooked.phone}}</td>
    </tr>
	{{/each}}
  </table>
{{/if}}
{{#if isConsumer}}
<table>
  <tr >
    <th>Service Name</th>
    <th>Name</th>
    <th>Day</th>
    <th>Time</th>
    <th>Phone</th>
  </tr>
	{{#each accepted as |booking|}}
    <tr>
      <td>{{booking.bookedService.name}}</td>
      <td>{{booking.bookedService.user.name}}</td>
      <td>{{format-date booking.startAt format="ll"}}</td>
      <td>{{format-date booking.startAt format="LT"}}</td>
      <td>{{booking.whoBooked.phone}}</td>
    </tr>
	{{/each}}
  </table>
{{/if}}