<div class='page-header'>
  <h1>Sign Up</h1>
</div>

<div class='error'>
  <p>{{errorMessage}}</p>
</div>

<div class="form-horizontal form-group form-group-lg row">
  {{input type='text' id='name' class='form-control' value=name placeholder='name'}}
  <br>
  {{input type='email' id='email' class='form-control' value=email placeholder='email'}}
  <br>
  {{input type='password' class='form-control' value=password placeholder='password'}}
  <br>
  {{input type='text' id='phone' class='form-control' value=phone placeholder='+380 00 000-00-00'}}
  <br>
  {{#x-select value=role class="form-control"}}
    {{#each commonUserRoles as |role|}}
      {{#x-option value=role}}I'm a {{role}}{{/x-option}}
    {{/each}}
  {{/x-select}}
</div>
<div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
  <button
    class='btn btn-success btn-lg btn-block'
    {{action (perform emailSignup)}}
    disabled={{or emailSignup.isRunning (not isValid)}}
  >
    {{fa-icon 'user-plus'}} {{if emailSignup.isRunning 'Signing up...' 'Sign Up'}}
</button>
</div>