<div id="container" class="container">
	<div class='page-header'>
		<h1>Sign In</h1>
	</div>

	<div class='error'>
		<p>{{errorMessage}}</p>
	</div>

	<label>Email address</label>
	{{input type='email' id='email' class='form-control' value=email placeholder='email'}}
	<label>Password</label>
	{{input type='password' class='form-control' value=password placeholder='password'}}
	{{#if session.isWorking}}
		<button class='btn btn-default' disabled='disabled'>
			{{fa-icon 'spinner' spin=true}} Signing in...
		</button>
	{{else}}	
		<button class='btn btn-primary' {{action 'signIn' 'password'}}>
			{{fa-icon 'sign-in'}} Sign In
		</button>
	{{/if}}
	<h4>Login with</h4>
	<button class="btn btn-social btn-lg btn-google" {{action "signUpWith" "google"}}> <span class="fa fa-google"></span> Google+</button>
	<button class="btn btn-social btn-lg btn-facebook disabled"> <span class="fa fa-facebook"></span> Facebook</button>
	<button class="btn btn-social btn-lg btn-twitter disabled"><span class="fa fa-twitter"></span> Twitter</button>
	<h5>Or sign up if you don't have account yet:</h5>
	{{#link-to 'sign-up' class='btn btn-success'}}Sign Up{{/link-to}}
</div>
