<div class='page-header'>
	<h1>Sign Up</h1>
	<p>Password must be at least 6 symbols.</p>
</div>
<div class='error'>
	<p>{{errorMessage}}</p>
</div>
{{!-- {{input type='text' class='form-control' value=firstName placeholder='First name'}} --}}
{{!-- {{input type='text' class='form-control' value=lastName placeholder='Second name'}} --}}
{{input type='text' class='form-control' value=email placeholder='email'}}
{{input type='password' class='form-control' value=password placeholder='password'}}

<button class='btn btn-success' {{action 'signUp'}} disabled={{isDisabled}}>

{{fa-icon 'user-plus'}} Sign Up

</button>
	<br>
	<br>
	<br>
	<br>
	<br>


	<h4>Sign Up with</h4>
	<button class="btn btn-social btn-lg btn-google" {{action "signUpWith" "google"}}> <span class="fa fa-google"></span> Google+</button>
	<button class="btn btn-social btn-lg btn-facebook disabled"> <span class="fa fa-facebook"> </span> Facebook</button>
	<button class="btn btn-social btn-lg btn-twitter disabled"><span class="fa fa-twitter"> </span> Twitter  </button>