<div class='page-header'>
	<h1>Sign Up</h1>
	<p>Password must be at least 6 symbols.</p>
</div>
<div class='error'>
	<p>{{errorMessage}}</p>
</div>
{{!-- {{input type='text' class='form-control' value=firstName placeholder='First name'}} --}}
{{!-- {{input type='text' class='form-control' value=lastName placeholder='Second name'}} --}}
{{input type='text' class='form-control' value=email placeholder='email'}}
{{input type='password' class='form-control' value=password placeholder='password'}}

<button class='btn btn-success' {{action 'signUp'}} disabled={{isDisabled}}>

{{fa-icon 'user-plus'}} Sign Up

</button>
<br>
	<br>
	<br>
	<br>
	<br>


	<h4>Sign Up with</h4>
	<a href="#" class="btn btn-danger bt-social" data-provider="google">Google+</a>
	<a href="#" class="btn btn-primary bt-social" data-provider="facebook">Facebook</a>